<div class="uk-panel uk-panel-box">

  <h1>About Works!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, beatae dignissimos doloribus dolorum enim esse eum facere illo in ipsam iste laudantium natus nihil numquam optio praesentium quis saepe unde.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aspernatur assumenda aut autem cum distinctio eaque esse harum iste laboriosam magnam nobis officia provident quia ratione sit tempora vero voluptatum?
  </p>

  <a href="" class="uk-button uk-button-primary uk-button-large">Test</a>

</div>

